# use gpu?
gpu: true

# eye blink: 
#   adaptive / svm
method: 'adaptive'

# svm
svm:
  frames: 13
  model: "svm/svm_13.pkl"

adaptive:
  frames: 10
  frames_long: 20
  eye_move_frames: 10
  eye_move_thres: 30
  sensi: 0.89

# debug: True
debug: False
